In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [55]:
df = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/liver_patient_data/indian_liver_patient_dataset.csv")

In [56]:
df.head()

   Age  Gender  ...  Albumin_and_Globulin_Ratio  Liver_Problem
0   65  Female  ...                        0.90              1
1   62    Male  ...                        0.74              1
2   62    Male  ...                        0.89              1
3   58    Male  ...                        1.00              1
4   72    Male  ...                        0.40              1

[5 rows x 11 columns]

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         500 non-null    int64
 1   Gender                      500 non-null    object
 2   Total_Bilirubin             500 non-null    float64
 3   Direct_Bilirubin            500 non-null    float64
 4   Alkaline_Phosphotase        500 non-null    int64
 5   Alamine_Aminotransferase    500 non-null    int64
 6   Aspartate_Aminotransferase  500 non-null    int64
 7   Total_Protiens              500 non-null    float64
 8   Albumin                     500 non-null    float64
 9   Albumin_and_Globulin_Ratio  496 non-null    float64
 10  Liver_Problem               500 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 43.1+ KB

In [58]:
df.shape

(500, 11)

In [59]:
df.describe()

            Age  Total_Bilirubin  ...  Albumin_and_Globulin_Ratio  Liver_Problem
count  500.0000       500.000000  ...                  496.000000     500.000000
mean    44.5860         2.603800  ...                    0.960907       1.300000
std     16.5334         5.120238  ...                    0.294289       0.458717
min      4.0000         0.400000  ...                    0.300000       1.000000
25%     32.7500         0.800000  ...                    0.795000       1.000000
50%     45.0000         0.900000  ...                    1.000000       1.000000
75%     58.0000         2.200000  ...                    1.100000       2.000000
max     85.0000        75.000000  ...                    1.900000       2.000000

[8 rows x 10 columns]

In [60]:
df["Liver_Problem"].value_counts()

1    350
2    150
Name: Liver_Problem, dtype: int64

In [61]:
#Finding missing values

missing_data = df.isnull().sum() 
missing_data

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Liver_Problem                 0
dtype: int64

In [13]:
#Alternative way to calculate no of missing values in all the columns

#missing_data = df.isnull()
#for column in missing_data.columns.values.tolist():
     # print(column)
     #  print(missing_data[column].value_counts())
     #  print("")

In [62]:
mean = df["Albumin_and_Globulin_Ratio"].mean()
mean

0.9609072580645165

In [63]:
df["Albumin_and_Globulin_Ratio"].replace(np.nan, mean, inplace = True)

In [64]:
df.isnull().Albumin_and_Globulin_Ratio.value_counts()

False    500
Name: Albumin_and_Globulin_Ratio, dtype: int64

In [65]:
#Converting column 'Gender' to numerical

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df.Gender = le.fit_transform(df.Gender)
df.head()

   Age  Gender  ...  Albumin_and_Globulin_Ratio  Liver_Problem
0   65       0  ...                        0.90              1
1   62       1  ...                        0.74              1
2   62       1  ...                        0.89              1
3   58       1  ...                        1.00              1
4   72       1  ...                        0.40              1

[5 rows x 11 columns]

In [37]:
#Separate input and output variables

X = df.drop("Liver_Problem", axis = 1)
y = df["Liver_Problem"]

# Shapes of X and y
print("Shape: ", X.shape, "Dimension: ", X.ndim)
print("Shape: ", y.shape, "Dimension: ", y.ndim)

Shape:  (500, 11) Dimension:  2
Shape:  (500,) Dimension:  1

In [38]:
#Split the data into train and test set 

from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state = 101)

In [44]:
#Building LogisticRegression model

from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings("ignore")

lr = LogisticRegression()                         #Create object
lr.fit(X_train,y_train)                           #Train the model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
y_test_pred = lr.predict(X_test)
y_test_pred[:5]

array([1, 1, 1, 1, 1])

In [68]:
from sklearn.metrics import confusion_matrix

tn, fp, fn, tp = confusion_matrix(y_test, y_test_pred).ravel()
print("True Positive: ", tp)
print("True Negative: ", tn)
print("False Positive: ", fp)
print("False Negative: ", fn)

True Positive:  8
True Negative:  66
False Positive:  7
False Negative:  19

In [69]:
from sklearn import metrics

print("Test set accuracy: ", metrics.accuracy_score(y_test, y_test_pred))

Test set accuracy:  0.74

In [84]:
test_new = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/liver_patient_data/indian_liver_patient_new_testdataset.csv")

In [85]:
test_new.head()

   Age Gender  ...  Albumin  Albumin_and_Globulin_Ratio
0   36   Male  ...      2.5                         0.7
1   42   Male  ...      2.7                         1.2
2   53   Male  ...      2.5                         0.4
3   32   Male  ...      2.7                         0.9
4   32   Male  ...      3.1                         1.1

[5 rows x 10 columns]

In [86]:
le = LabelEncoder()
test_new.Gender = le.fit_transform(test_new.Gender)
test_new.head()

   Age  Gender  ...  Albumin  Albumin_and_Globulin_Ratio
0   36       1  ...      2.5                         0.7
1   42       1  ...      2.7                         1.2
2   53       1  ...      2.5                         0.4
3   32       1  ...      2.7                         0.9
4   32       1  ...      3.1                         1.1

[5 rows x 10 columns]

In [95]:
Liver_Problem = lr.predict(test_new)

ValueError: ignored